* {
  font-family: "Playfair Display", serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: #daf8ff;
  overflow-x: hidden;
}

h1 {
  font-weight: 100;
}

h3 {
  font-weight: 600;
}

.main-head {
  color: black;
  position: relative;
  left: 5%;
  /* top: 1rem; */
  font-size: 2.5rem;
}

.faq-container {
  margin: 0 auto;
  width: 30vw;
  position: relative;
  top: -2.5rem;
  left: 30%;
  font-family: "cairo", serif;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  background-color: #2f3c7e;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.5s ease;
  /* border-radius: 5px; */
}

.faq-question.active {
  background-color: #2f3c7e;
  color: #fff;
}

.faq-question:hover {
  background-color: #bf953f;
}

.faq-answer {
  display: none;
  /* background-color: #e6e6e6; */
  background-color: #5968af;
  padding: 10px;
  /* color: #000; */
  color: white;
  transition: height 0.5s ease;
  overflow: hidden;
  /* border-radius: 5px; */
}

.faq-answer.active {
  display: block;
}

.faq-icon {
  font-weight: bold;
  margin-left: 10px;
  transition: transform 0.5s ease;
}

.faq-icon.minus {
  transform: rotate(45deg);
}

/* Add transition to the height of the answer when closing */
.faq-answer:not(.active) {
  height: 0 !important;
  transition: height 5s ease;
}

.insta-foot {
  margin-top: auto;
  width: 100vw;
  background-color: #2f3c7e;
  color: white;
  height: 10rem;

}

.butt {
  background-color: #daf8ff;
  border-radius: 0.5rem;
  position: relative;
  left: 85%;
  bottom: 4rem;
  cursor: pointer;
}

.foot-text {
  color: white;
  width: 38%;
  position: relative;
  left: 5%;
  top: 15%;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 88px;
  height: 20px;
}
.navbarContainer li {
  text-decoration: none;
  color: black;
  list-style: none;
}
.navbarContainer a {
  text-decoration: none;
  list-style: none;
  color: black;
}
.navbarContainer a:hover {
  color: #249db8;
}
.horizontal-line {
  width: 1300px;
  height: 1px;
  background-color: #18181a;
  margin-top: 5px;
}
