#prizes{
    background-color:#DAF8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    overflow-x: hidden;
}

.headcont{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.headline{
    width: 30px;
    height: 5px;
    background-color: palevioletred;
    border: 0px solid;
}

p{
    font-family: sans-serif;
}

.subhead{
    display: flex;
    align-items: center;
    width: 30%;

    color: palevioletred;    
}

.heading{
    text-align: center;
}

.cardcont{
    display: flex;
    justify-content: space-between;

    width: 85%;
}

.prizecard{
    background-color: white;

    width: 300px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 0;

    padding: 30px 0;
}

.posbadge{
    font-family: sans-serif;

    height: 20px;
    width: 150px;
    padding: 10px 5px;
    border: 2px solid black;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.prize{
    font-family: sans-serif;
}

.prizeb{
    font-family: sans-serif;
    text-align: center;
}

.prizeimg{
    margin-top: 50px;
    margin-bottom: 20px;

    height: 200px;
}








.line1{
    position: absolute;
    width: 1300px;
    height: 0px;
    left: 70px;
    top: 64px;

    border: 1px solid #18181A;
    transform: rotate(0.2deg);
}



.nav p{
    display:inline-block;
}

.home{
    position: absolute;
width: 43px;
height: 24px;
left: 421px;
top: 24px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

color: #000000
}

.about{
    position: absolute;
    width: 43px;
    height: 24px;
    left: 552px;
    top: 24px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    color: #18181A;
}

.tracks{
    position: absolute;
    width: 49px;
    height: 24px;
    left: 683px;
    top: 24px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    color: #000000;
}

