.sponsors {
    background-color: #020221;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    position: relative;
}

.sponsors-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 12vw;
    margin-bottom: 20px;
    z-index: 1;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sponsors-list ul {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -20px;
}

.sponsors-list ul li {
    width: 33.3%;
    margin-bottom: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}
